/*section*/
*{padding: 0; margin: 0;box-sizing: border-box;

h3{margin-bottom: 10px;}}

section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    color: azure;
    justify-content: center;
    align-content: center;
    position: relative;
}

section:nth-of-type(1){
     background-image:url('flowe.JPG')
}

section:nth-of-type(2){
     background-image:url('man.JPG')
     
}
section>*{
    position: relative;
    z-index: 2;
}

section:nth-of-type() after{
    content:"";
    position:absolute;
    left: 0;top: 0;
    width: 50%;height: 100%;
    background: rgba(0, 0,0, 0);
    z-index: 1;
}

.topimage {
    background-image: url('jay\ blue.jpeg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    height: 50vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    display: flex;
    justify-content:center;
    align-items: last baseline;
    color: black; /* Adjust text color based on your image */
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 0%;
}

@media (max-width: 768px) {
    .topimage h1 {
        font-size: 1.5rem;
        justify-content: space-evenly;
    }
}